.flex-all-center
{
   
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn
{
    border:2px solid white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: white;
}
.btn:hover
{
    animation: zoom 0.5s ease-out 3;

}